{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}La taverne de greegose
{% endblock %}

{% block body %}
	<div class="banner">
		<div class="head-home">
			<div class="titleHome">
				<h1 class="text-light mt-5">La Taverne</h1>
				<h1 class="text-light mt-3">de Grego</h1>
			</div>
		</div>
	</div>
	<div class="bodyContainer container">
		<div class="row">
			<h2 class="text-font-title text-center mt-5">+ de 200 réfèrences</h2>
			<h2 class="text-center text-font-title">de bières</h2>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card mt-4">
					<img src="{{ asset('build/images/fruité3.png') }}" class="card-img" alt="...">
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card mt-4">
					<img src="{{ asset('build/images/gregoo45_a_beer_with_the_drink_2be1720f-205c-43f2-a8ed-a3a1bd1f887c.png') }}" class="card-img" alt="...">
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card mt-4">
					<img src="{{ asset('build/images/gregoo45_a_beer_with_the_drink_18433f6d-2eb4-4620-86b4-34e61ba49773.png') }}" class="card-img" alt="...">
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card mt-4">
					<img src="{{ asset('build/images/blanche2.png') }}" class="card-img" alt="...">
				</div>
			</div>
			<h2 class="text-center text-secondary mt-5 m-auto">Les trouvailles
								Bièresh</h2>
			<h2 class="text-center text-secondary mt-2 m-auto fs-2">et Élixirs</h2>
			<p class="text-light fs-3 mt-5">L’un des moments les plus magiques, pour quiconque apprécie les bières d’exception, c’est celui où l’on trempe nos lèvres dans une bière que l’on découvre pour la première fois. Ce moment est toujours magique, car c’est la rencontre d’un goût totalement nouveau. Pour peu que ce goût nous séduise, ce moment magique devient un moment majestueux. Pour vous offrir ces moments privilégiés, La Cervoiserie parcourt le monde à la recherche de ces bières précieuses trop peu connues et qui s’avèrent de véritables révélations. Heureusement pour vous, qui savez les apprécier, ces bières précieuses sont nombreuses, car les brasseries artisanales se multiplient et leurs brasseurs sont habiles.	</p>
		</div>
	</div>
</div>{% endblock %}
