{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}La taverne de greegose
{% endblock %}

{% block body %}
	<div class="banner">
		<div class="head-home">
			<div class="titleHome">
				<h1 class="text-light">La Taverne</h1>
				<h1 class="text-light mt-3">de Grego</h1>
			</div>
		</div>
	</div>
	<div class="bodyContainer container">
		<div class="row">
			<h2 class="text-center mt-5">+ de 200 réfèrences</h2>
			<h2 class="text-center">de bières</h2>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card mt-4">
					<img src="{{ asset('build/images/ficheproduit3.png') }}" class="card-img" alt="...">
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card mt-4">
					<img src="{{ asset('build/images/ficheproduit3.png') }}" class="card-img" alt="...">
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card mt-4">
					<img src="{{ asset('build/images/ficheproduit3.png') }}" class="card-img" alt="...">
				</div>
			</div>
			<div class="col-12 col-md-6 col-lg-3">
				<div class="card mt-4">
					<img src="{{ asset('build/images/ficheproduit3.png') }}" class="card-img" alt="...">
				</div>
			</div>
		</div>
	</div>
{% endblock %}
