{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}Catalogue
{% endblock %}

{% block body %}

	<div class="banner">
		<div class="head-home"></div>
	</div>

	<div class="bodyContainer container">
		<div class="row">
			{% for category in categories %}
				<div class="col-12 col-md-6 col-lg-4">
					<h3 class="text-center text-secondary mt-5">{{ category.name }}</h3>
					<div class="card mt-4">
						<a class="lesson" href="{{ path('category_show', {id: category.id}) }}">
							<img src="{{ asset('build/images/categoryBlond.png') }}" class="card-img">
						</a>
					</div>
				</div>
			{% endfor %}
			<div class="my-3  m-auto d-flex justify-content-center">
				<button type="submit" class="btn btn-secondary text-light col-10 my-4 fs-5" style="width: 50%">S'inscrire</button>
			</div>
		</div>
	</div>

{% endblock %}
