{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('home') }}
{% endblock %}

{% block title %}Hello BeerController!
{% endblock %}

{% block body %}
	<div class="banner">
		<img  class="bannerBeer" src="{{ vich_uploader_asset(category) }}">
	</div>
	<div class="bodyContainer container">
		<div class="row">
			{% for beer in beers %}
				<div class="col-12 col-md-6 col-lg-4">
					<h3 class="text-center text-secondary mt-5">{{ beer.name }}</h3>
					<div class="card mt-4">

						<img src="{{ vich_uploader_asset(beer) }}" class="card-img">
					</div>
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
