{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block title %}Connection
{% endblock %}

{% block body %}

	<div class="loginbody container-fluid">
		{% if error %}
			<div class="text-light">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
		{% endif %}
		<div class="login bg-light mx-4 mx-lg-auto col-lg-5">
			<form class="d-flex flex-column mt-5" action="{{ path('app_login') }}" method="post">
				<div class="my-3 col-10 m-auto">
					<label for="username" class="form-label fw-bold fs-5 ms-1">Email:</label>
					<input type="text" id="username" class="form-control" name="_username" value="greg0@email.com">
				</div>
				<div class="my-3 col-10 m-auto">
					<label for="password" class="form-label fw-bold fs-5 ms-1">Mot de passe:</label>
					<input type="password" id="password" class="form-control" name="_password">
				</div>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<input type="hidden" name="_target_path" value="home">
				<button class="btn btn-secondary text-light w-65 m-auto mb-5 mt-4 fw-bold fs-5" type="submit">Connection</button>
			</form>
		</div>
	</div>
{% endblock %}
